* {
    margin: 0;
}

.header {
    background-image: url('../images/donation6.jpg');
    background-repeat: no-repeat;
    background-size: cover;

}

.header-section {
    font-family: 'Inter';
    font-weight: 700;
    font-size: 65px;
    text-align: center;
    padding: 175px 307px;
    color: #FFFFFF;

}

.btn-primary {
    color: #FFFFFF;
    height: 56px;
    background: #FF5959;
    border-radius: 5px;
    border: 0;
    padding: 16px 20px;
    font-weight: 600;
    font-size: 20px;
}

/* donate section style */



.donate-section {
    font-family: 'Inter';
    text-align: center;
    color: #121212;
    

}

.donate-title {

    padding-top: 130px;
    padding-bottom: 20px;
    font-weight: 700px;
    font-size: 45px;
    
    

}

.donate-description {
    font-weight: 400px;
    font-size: 18px;
    padding: 0 375px 50px 375px;
}

.btn-section {
    padding: 60px 338px;
    text-align: center;
}


.donate-btn{
    border: 0;
    width: 135px;
    height: 123px;
    border-radius: 5px;
    background: #FAFAFA;
    font-size: 30px;
    font-family: 'Inter';
    color: #707070;
    margin: 5px;
    
}
.donate-btn:hover {
    background: #FFEEEE;
    border: 2px solid #FF5959;
    border-radius: 5px;
    color: #FF5959;
    
}



.btn-primary1 {
    color: #FFFFFF;
    height: 56px;
    background: #FF5959;
    border-radius: 5px;
    border: 0;
    padding: 16px 20px;
    font-weight: 600;
    font-size: 20px;
    margin-top: 30px;

}

.other-amount {
    text-align: center;
    padding: 60px 338px 130px 338px;
    
}

.o-titel {
    color: #B3B3B3;
    font-size: 18px;
    margin-bottom: 10px;
    
}

hr {
    border: 1px solid #DADADA;
}

.other{
    margin-top: -10px;
}

/* donate plan section */

.our-plans{
  margin: 130 375 50 375;
  text-align: center;  
}

.plan-title{
    font-size: 45px;
    font-family: 'Inter';
    font-weight: 700;
    
}
.plan-section{
    font-size: 18px;
    color: #707070;
    

}
